:root {
  --online: #44b700;
  --offline: #b74400;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

a,
u {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100% !important;
  padding: 0 1rem !important;
  background-color: whitesmoke !important;
  color: black !important;

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.header-mainbar {
  display: flex;
  font-size: 24px;
  font-weight: 300;
}

.header-mainbar a {
  padding: 0 1.5rem;
  /* font-size: var(--h11-font-size); */
}

.header-mainbar a:hover,
.header-mainbar a:focus {
  background-color: rgba(230, 230, 230, 0.5);
}

.header-popover {
  width: 140px;
  text-align: right;
}

.error {
  margin: 0.5rem;
  color: red;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: none;
  /* border-radius: 4px; */
  background: whitesmoke;
  padding: 4px 15px;
  display: inline-block !important;
  visibility: visible !important;
}

fieldset {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}

legend {
  font-size: 12px;
  color: rgb(118, 117, 117);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="date"],
focus {
  color: black;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/*
  Extra Small Devices, Phones 
  @media only screen and (min-width: 480px) {}
*/

/*
  Small Devices, Tablets
  @media only screen and (min-width: 768px) {}
*/

/*
  Medium Devices, Desktops
  @media only screen and (min-width: 992px) {}
*/

/*
  Large Devices, Wide Screens
  @media only screen and (min-width: 1200px) {}
*/
