.profile-container {
  width: 100%;
  height: 85vh;
}

.profile-card {
  padding: 1.5rem 2.5rem;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.11);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "title title"
    "head body"
    "submit submit";
  grid-gap: 0.5rem 3rem;
}

.profile-card-title {
  grid-area: title;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin: 0.5rem;
}

.profile-card-head {
  grid-area: head;
}

.profile-card-body {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-card-submit {
  grid-area: submit;
}

.profile-card-submit button {
  background: rgb(130, 255, 167);
  background: linear-gradient(
    45deg,
    rgb(242, 252, 50) 0%,
    rgb(91, 255, 140) 100%
  );

  box-shadow: 0 0 6px 1px rgba(135, 135, 135, 0.25);
  text-shadow: rgba(0, 0, 0, 0.65) 0px 0px 20px;

  color: #fff;
  font-size: 14px;
  padding: 0.75rem 2.25rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.profile-card-submit button:hover {
  border: none;
}
